// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$silver: silver;

$ancient-black: #1D1A1A;
// $ancient-yellow: #FFFFF2;
$ancient-silver: #F2F2F2;
$ancient-brown: #221E1E;
$ancient-blue: #3B3F9B;


$ancient-yellow: #FAE21F;
$ancient-beige: #F7F6F0;
$ancient-darker-blue: #252732;
