// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');


// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Andersons Grotesk";
  src: font-url('AndersonsGrotesk.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Andersons Grotesk-light";
  src: font-url('AndersonsGrotesk-Light.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Andersons Grotesk-ultrabold";
  src: font-url('AndersonsGrotesk-Ultrabold.otf');
  font-weight: 400;
  font-style: normal;
}


// Custom site fonts:
$AG-normal: "Andersons Grotesk";
$AG-ultrabold: "Andersons Grotesk-ultrabold";
$AG-light: "Andersons Grotesk-light";


// Define fonts for body and headers
$body-font: $AG-normal, "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";
