// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');


// To use a font file (.woff) uncomment following lines
// regular
@font-face {
  font-family: "Xerox Serif Wide";
  src: font-url('XeroxSerifWideRegular.ttf');
  font-weight: 400;
  font-style: normal;
}


// thickest
@font-face {
  font-family: "Xerox Serif Wide Bold";
  src: font-url('XeroxSerifWideBold.ttf');
  font-weight: 500;
  font-style: normal;
}


// Custom site fonts:
$AG-normal: "Xerox Serif Wide";
$AG-country: "Public Sans";


// Define fonts for body and headers
$body-font: $AG-normal, "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";
