// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');


// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Anderson Grotesk";
  src: font-url('AndersonGrotesk.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Anderson Grotesk";
  src: font-url('AndersonGrotesk-Light.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Anderson Grotesk";
  src: font-url('AndersonGrotesk-Ultrabold.otf');
  font-weight: 700;
  font-style: normal;
}


// Custom site fonts:
$AG-normal: "Anderson Grotesk";


// Define fonts for body and headers
$body-font: $AG-normal, "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";
