// Specific CSS for your home-page
.homegrid {
  width: 100vw;
  max-height: 100vh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 4fr;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}


.home-image {
  height: 100%;
  min-width: 60vw;
  object-fit: fill;
}

.homeimg {
  overflow: hidden;
  grid-row: 2;

}

.blackrectangle {
  max-height: 100vh;
  background-color: black;
  grid-row: span 2;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-content: center;

}

.title-sq {
  font-weight: 200;
  font-size: 2.5rem;
  margin-top: 45%;
  color: white;
  margin-left: 8%;
  padding: 0;
  line-height: 1.1;
}

.title-recipes {
  font-weight: 400;
  font-size: 3.5rem;
}


.looking-glass {
  display: flex;
  justify-content: flex-end;
  justify-self: end;
  margin-right: 7%;

}

.cocktail {
  width: 100%;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  margin-right: 1%;
}

.looking-glass-img {
  width: 100%;


}


// .logo {
//   position: absolute;
//   top: 0;
//   left: 61%;
//   width: 50px;
//   z-index: 0;

// }

// .imglogo {
//   width: 50px;
//   filter: sepia(0.8);
// }

.home-btn {
  background-color: $ancient-silver;
  color: $ancient-black;
  font-weight: 400;
  margin-top: 1rem;
  border-radius: 7px;
  box-shadow: -5px 4px 5px -2px rgba(145, 145, 145, 0.74);

}



// .rotate {
//   animation: rotation 2.5s infinite linear;
// }

// @keyframes rotation {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
