* {
  box-sizing: border-box;
}

hr {
  margin: 0rem;
}

#container-home {
  width: 100vw;
  min-height: calc(100vh - 77px);
  font-size: 1.2rem;
  overflow: hidden;
  display: flex;
}


.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 2rem;
}




#left {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  letter-spacing: -1px;
  font-size: 1rem;
  width: 66vw;
  flex-grow: 0;
  flex-shrink: 0;
}

#right {
  flex-grow: 1;
  flex-shrink: 1;
}

.title-container {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.maintitle {
  padding: 20px;
  font-size: 70px;
  line-height: 1em;
  letter-spacing: -4px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.cocktail-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 25vh;
  padding-right: 1rem;
  padding-left: 1rem;
}

.cocktail-img {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
  display: block;
  margin-left: auto;
}

.cocktail-title {
  text-align: right;
  font-size: 15px;
  padding-top: 0.5rem;
}

.cocktail-container-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  padding-left: 1rem;
  justify-content: space-between;

}

.cocktail-bottom-title {
  text-align: left;
  padding: 4rem 1.5rem;
  font-size: 16px;
  line-height: 22px;
}

.btn-search-by {
height: 100%;
text-align: center;
border: 1px solid rgba(0, 0, 0, 0.4);
padding: 15px 32px;
flex-grow: 0;
}
