// Specific CSS for your home-page
.homegrid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 4fr;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}


.home-image {
  height: 100%;
  object-fit: cover;
}

.homeimg {
  overflow: hidden;
  grid-row: 2;

}

.blackrectangle {
  background-color: black;
  grid-row: span 2;

}
