.container-recipe-info {
  margin-right: 50px;
  max-height: calc(100vh - 72px);
}


.container-controller {
margin-top: 3rem;
}

.left-part {
  border-right: 1px solid silver;
  padding-right: 0px;
}

.recipe-list {
  max-height: calc(100vh - 72px);
  overflow: scroll;
}



i {
  color: $orange;
}

.empty {
  color: $silver;
}

.image-food {
  width: 300px;
  max-height: 300px;
  display: flex;
  // box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
  justify-content: space-around;
  object-fit: cover;
  flex-shrink: 0;
}

/*.recipe-image {
.recipe-image {
  display:inline-block;
  // width:100%;
  padding-bottom: 25px;
  padding-top: 15px;
  padding-left: 5px;
  opacity: 90%;
}*/

p {
  margin-bottom: 1px;
  font-family: $AG-normal;
  font-weight: 200;
}

.recipe-name {
  font-family: $AG-normal;
  font-weight: 400;
  font-size: 26px;
  margin-left: 20px;
}

.recipe-by {
  font-family: $AG-normal;
  font-size: 13px;
  font-weight: 400;
}

.recipe-information {
  padding-left: 70px;
  padding-top: 10px;
  font-size: 14px;
  display:block !important;
}

.recipe-ingredients {
  font-family: $AG-normal;
  font-weight: 400;
  padding-left: 15px;
  font-size: 14px;
}

.recipe-ingredients-list, li {
  font-family: $AG-normal;
  font-weight: 400;
  padding-left: 30px;
  margin-top: 0px;
  font-size: 14px;
  list-style: none;
}

.recipe-prep {


  h3 {
    font-family: $AG-normal;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 15px;
  }

  p {
    font-family: $AG-normal;
    font-size: 16px;
    margin-left: 30px;
    text-align: justify;
    display: block;
  }
}

.recipe-map {
  font-family: $AG-normal;
  font-weight: 400;
}

.background-rectangle {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  // min-height: 100vh;
  width: 50vw;
  background-color: $ancient-black;
  z-index: -1;
}

.container-map-centering {
  display: flex;
  justify-content: center;
}

.map-centering {
  margin-bottom: 20px;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #C0C0C0 0px 0px 0px 3px;
}

.adjusting-padding-h3 {
  padding-left: 40px;
}
.print{
  border-radius: 15px;
  border-color: $silver;
  color: $ancient-brown;
  font-weight: lighter;
  font-family: $AG-normal;
  max-width:200px;
}

.print:hover{
  font-weight: bold;
  border-color: $gray;
}

.img-food{
  width: 200px;
  height: 200px;
  object-fit: cover;
  // box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  // box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  // box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #C0C0C0 0px 0px 0px 3px;
  // box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

// .recipe-add-cookbook a{
//   color: blue;
// }

.recipe-rate a {
  color: blue;
}

// .recipe-add-cookbook a:hover{
//   color: $ancient-brown;
// }

.recipe-rate a:hover {
  color: $ancient-brown;
}

.mywidth{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#image{
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.add-favorites{
  color: blue;
  padding: 0;
  font-family: "Anderson Grotesk";
  text-decoration: underline;
  font-size: 14px;
}

.hidden{
  display: none;
}



.info-line {
  border-bottom: 2px solid silver;
}

.recipe-country {
  display: flex;
  justify-content:flex-end;
  font-family: $AG-country;
  font-weight: 400;
  font-size: 90px;
  color: #E8E8ED;
  // margin-bottom: -20px;
}

.info-right p {
  display: inline;
  font-family: $AG-normal;
  font-size: 13px;
  font-weight: 400;
}

// For paper effect
// .page {
//   background-color: #f8f5de;
//   background-image: linear-gradient(to right, rgba(255,210,0,0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0,0,0,0) 35%, rgba(200, 160, 0, 0.1) 65%);
//   box-shadow: inset 0 0 75px rgba(255,210,0,0.3), inset 0 0 20px rgba(255,210,0,0.4), inset 0 0 30px rgba(220,120,0,0.8);
//   color: rgba(0,0,0,0.5);
//   font-family: "AustralisProSwash-Italic";
//   width: calc(8.5in - 15em);
//   letter-spacing: 0.05em;
//   line-height: 1.8;
//   padding: 5em 10em 15em 5em;
// }
.caps {
  color: rgba(0,0,0,0.7);
  float:left;
  font-size: 5em;
  line-height: 60px;
  padding-right: 12px;
  // position:relative;
  top:8px;
  font-family: $AG-ancient;
}
.recipe-image-new {
  max-width: 300px;
  object-fit: cover;
  margin-bottom: 25px ;
}

.recipe-country-new {
  display: flex;
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 90px;
  color: #E8E8ED;
}


.recipe-name-new {
    font-family: "Xerox Serif Wide";
}

.recipe-prep-new {
  padding-top: 15px;
  padding-left: 70px;
}

.added-ingredient {
  font-size: 1.25rem;
  padding-left: 0;
  font-size: 16px;
}

.recipe-prep-time {
  margin-top: 25px;
}

.recipe-ingredients-new {
  margin-top: 30px;
}

.recipe-name-new {
  margin-left: 70px;
}

.form-label {
  margin-top: -15px;
}

.heart {
  width: 100px;
  height: 100px;
  background: url("heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;

  &.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
}



.img-food-lg {
  width:100%;
}
