i {
  color: $orange;
}

.empty {
  color: $silver;
}

.image-food {
  width: 300px;
  max-height: 300px;
  border-radius: 15px;
  display: flex;
  // box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
  justify-content: space-around;
  object-fit: cover;
  flex-shrink: 0;
}

.recipe-image {
  display:inline-block;
  width:100%;
  padding-bottom: 25px;
  padding-top: 15px;
  padding-left: 5px;
}

p {
  margin-bottom: 1px;
  font-family: $AG-normal;
  font-weight: 200;
}

.recipe-name {
  font-family: $AG-normal;
  font-weight: 400;
  font-size: 30px;
  margin-left: 30px;
  margin-top: 30px;
}

.recipe-by {
  font-family: $AG-normal;
  font-size: 16px;
  font-weight: 200;
  margin-left: 40px;
  margin-top: -15px;
}

.recipe-information {
  padding-left: 70px;
  padding-top: 30px;
  font-size: 14px;
  // margin-top: -10px;
}

.recipe-ingredients {
  font-family: $AG-normal;
  font-weight: 200;
  padding-left: 30px;
  font-size: 18px;
  margin-bottom: 10px;
}

.recipe-ingredients-list, li {
  font-family: $AG-normal;
  font-weight: 200;
  padding-left: 30px;
  margin-top: 0px;
  font-size: 14px;
}

.recipe-prep {

  h3 {
    font-family: $AG-normal;
    font-weight: 200;
    font-size: 18px;
    margin-left: 20px;
  }

  p {
    font-size: 14px;
    margin-left: 30px;
  }
}

.recipe-origin {

  h3 {
    font-family: $AG-normal;
    font-weight: 200;
    font-size: 18px;
    margin-left: 20px;
  }
}

.recipe-map {
  font-family: $AG-normal;
  font-weight: 400;
}

.background-rectangle {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  // min-height: 100vh;
  width: 50vw;
  background-color: $ancient-black;
  z-index: -1;
}

.container-map-centering {
  display: flex;
  justify-content: center;
}

.map-centering {
  margin-bottom: 20px;
}

.adjusting-padding-h3 {
  padding-left: 40px;
}
.print{
  border-radius: 15px;
  border-color: $silver;
  color: $ancient-brown;
  font-weight: lighter;
  font-family: $AG-normal;
  max-width:200px;
}

.print:hover{
  font-weight: bold;
  border-color: $gray;
}
