<div class='nested-fields'>
  <div class="row">
    <div class="col-6">
      <%= f.input :ingredient_id, collection: Ingredient.all.map { |ingredient| [ingredient.name.capitalize, ingredient.id] }, label: false,
        input_html: { data: { recipe_form_target: "ingredientInput", action: "change->recipe-form#updateIngredients" } } %>
    </div>
    <div class="col-6">
      <%= f.input :quantity, label: false,
      input_html: { data: { recipe_form_target: "ingredientQuantityInput", action: "change->recipe-form#updateIngredients" } }%>
    </div>
  </div>
</div>
