  <div class="recipe-text">recipes</div>
  <div class="container-99" data-controller="search">

    <div id="container-top">
      <%= render "search_form" %>
    </div>

  <div class="flex-container">
    <div class="box-1">
        <%= render "recipe_list" %>
    </div>
      <div class="recipe-container">
        <%= image_tag "Rectangle_9" , class: "bottom-image" %>
        <%# <img id="image" /> %>
      </div>
  </div>

</div>






<script>

//This script is changing photos
// var images = [
//    'https://user-images.githubusercontent.com/31392942/156794680-314e4839-4fe3-46d0-bcd2-e62a893b6471.jpg',
//     "https://user-images.githubusercontent.com/31392942/156794847-626867f0-fdc1-40f2-813a-a2efda2705a3.jpg",
//     "https://user-images.githubusercontent.com/31392942/156794779-a91a9757-d639-49eb-9bcf-3c61ce441574.jpg"
//    ];

// function randImg() {
//     var size = images.length
//     var x = Math.floor(size * Math.random())
//     document.getElementById('image').src= images[x];
// }

// randImg();


</script>
