<h1 class="text-center mt-3">Our Recipes</h1>
<div class="container">
  <div class="row mt-4">
    <% @recipes.each do |recipe|%>
      <div class="mt-5">
        <%= recipe.era %>
      </div>
      <div class="mt-5">
        <%= recipe.name %>
      </div>
      <div>
        <%= recipe.instructions %>
      </div>
    <% end %>
  </div>
</div>
