<div class="container-fluid">
  <div class="row mt-0">
    <div class="col-4 left-part" data-controller="search">
        <div class="centerbar">
            <form action="/recipes" method="get" class="searchbar">
            <select multiple name="ingredients[]" data-controller="select2" data-search-target="input">
                  <% Ingredient.all.each do |ing|  %>
                    <option value="<%= ing.id %>"><%= ing.name.capitalize %></option>
                  <% end %>
            </select>
            </form>
        </div>
        <%=render "recipe_list" %>
    </div>

    <%# <div class="background-rectangle">
    </div> %>
    <div class="col-lg-8 recipe-container">
      <%= render "show_recipe" %>

    </div>

  </div>
  <%# Row for content %>

  </div>
