
<div class="nav-bar">
  <div class="div1"> <%= link_to "Ancient Meals", root_path, class: "nav-link" %> </div>
  <div class="div2"> <%= link_to "Recipes", recipes_path, class: "nav-link" %></div>
  <div class="div3"> <a class="nav-link" href="#">About</a> </div>
  <div class="div4"> <a class="nav-link" href="#">Login</a></div>
</div>
