<div class="recipe-text-2">cookbook</div>
<div class="container-100">

  <div class="flex-container-2">
    <div class="box-1" data-controller="search">
        <%= render "recipes/recipe_list" %>
    </div>
      <div class="recipe-container">
        <%= image_tag "Rectangle_9" , class: "bottom-image" %>
        <%# <img id="image" /> %>
      </div>
  </div>










</div>
