<div id="container">


  <div id="left">
      <hr>
      <div class="title-container"><span class="maintitle">Find Ancient recipes</span>
    </div>
      <hr>
    <div class="homeimg"><%= image_tag "hp_img_1" , class: "home-image" %>
    </div>
  </div>

  <div id="right">
    <hr>
    <div class="cocktail-container">
    <%= image_tag "Frame-10.jpg" , class: "cocktail-img" %>
    <span class="cocktail-title">Support us by sending us a meal</span>
    </div>
    <hr>

    <div class="cocktail-container-bottom">
    <%= image_tag "Frame-9.jpg" , class: "cocktail-img" %>
    <span class="cocktail-bottom-title"> <em> We are a small community</em> of culinary and ancient history fans. We love to go back in time and revitalize old recipes there are so many hidden gems out there. Our goal is to make the best platform available for collecting and archiving recipes that are nowhere else to be found on the big wide web. Our goal is to make the best platform available for collecting and archiving recipes that are nowhere else to be found on the big wide web. </span>
    <div class="btn-search-by">Search by ingredience</div>
    </div>
  </div>



</div>
