<div class="homegrid">
  <div></div>
  <div class="homeimg"><%= image_tag "background.svg" , class: "home-image" %></div>

  <div class="blackrectangle">
    <p class="title-sq">Find Ancient<br> <span class="title-recipes">Recipes</span></p>
    <div class="looking-glass"><%= image_tag "looking_glass.svg" , class: "looking-glass-img" %></div>
    <div class="cocktail"><%= image_tag "cocktail.svg" , class: "cocktail-img" %></div>
  </div>


</div>
