.container-100 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $gray;
  overflow: scroll;
}

#bg-image {
  background-image: url("backgrounds/background_2");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

.recipe-text-2 {
  position: absolute;
  width: 300px;
  top: 8px;
  right: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 104%;
  color: rgba(232, 232, 237, 1);
  }

.flex-container-2 {
  height: 40vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  align-content: stretch;

  }

  #user-name {
    font-size: 18px;
    font-weight: 700;
  }



.box-2 {
  flex: 1 0 auto;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  overflow: scroll;
}


.bottom-image-2 {
  width: 100%;
}

.bottom-image-3 {
  width: 100%;
}

.user-info {
  min-width: 400px;
  flex-direction: column;
  align-content: space-between;
  margin-left: 1rem;
  margin-right: 10px;

  p {
    margin-bottom: 1rem;

  }
}


.avatar-large {
  min-width: 200px;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-top: 2rem;
}


.last-child {
margin-bottom: 2rem;
}

.h3-margin-titles {
  margin-left: 13px;
}

.padding-p {
  margin-left: 36px;
}

.padding-info-user {
  padding-left: 250px;
  padding-top: 25px;
}
