.container-100 {
  display: grid;
  max-height: calc(100vh - 85px);
  grid-template-columns: 1fr 1fr;
  color: $gray;
  overflow: scroll;
}

.user-container {
  max-height: calc(100vh -85px);
}

#bg-image {
  background-image: url("backgrounds/background_3001.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh);

  }

.recipe-text-2 {
  position: absolute;
  width: 300px;
  top: 8px;
  right: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 104%;
  color: rgba(232, 232, 237, 1);
  z-index: 1;
  }

.flex-container-2 {
  height: 40vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  align-content: stretch;

  }

  #user-name {
    font-size: 18px;
    font-weight: 700;
  }



.box-2 {
  flex: 1 0 auto;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  overflow: scroll;
  max-height: calc(100vh -85px);
}


.bottom-image-2 {
  width: 100%;
}

.bottom-image-3 {
  width: 100%;
}

.user-info {
  min-width: 400px;
  flex-direction: column;
  align-content: space-between;
  margin-left: 1rem;
  margin-right: 10px;

  p {
    margin-bottom: 1rem;

  }
}


.avatar-large {
  min-width: 200px;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-top: 2rem;
  width: 200px;
  height: 200px;
  object-fit: cover;
}


.last-child {
margin-bottom: 2rem;
}

.h3-margin-titles {
  margin-left: 13px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.padding-p {
  margin-left: 36px;
}

.padding-info-user {
  // padding-top: 25px;
  // padding-right: 25px;
  padding: 25px;
  margin: 1rem;
  // border-bottom: 3px solid rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0px 5px #888888;
  -moz-box-shadow: 0 0px 5px #888888;
  box-shadow: 0 0px 5px #888888;

}
