.recipe-link {
  text-decoration: none;
  color: black;
}

.recipe-link:hover {
  color: black;
}

.background-class {
  background-color: $ancient-black;
  display: flex;
  justify-content: center;
  height: 100%;
  // align-items: center;
  img {
    margin: 50px 0;
    position: sticky;
    top: 50px;
  }
}

.alignment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;


  p {
    opacity: 0.6;
    padding-left: 10px;

  }
}
/*.lali {
  height: 200px;
} */
.centerbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  flex-grow: 1;
  margin-top: 40px;
  form {
    flex-grow: 1;
    display: flex;
  }

  .select2 {
    flex-grow: 1;
    border-radius: 11px;
  }
}
.editing-seachbar {
  display: flex;
}

.select2-container {
  margin: auto;
}


.select2-container--default .select2-selection--multiple {
  border: 1px solid black;
  border-radius: 11px;
  cursor: text;
  padding-bottom: 5px;
  padding-right: 5px;
  /* position: relative; */
  width: 100%;
  margin-top: 15px;
}

.btn-primary {
  color: #fff;
  margin-top: 15px;
  border:none;
  background-color: #F4F4F4;
}

.select2-selection.select2-selection--multiple.custom-class {
  border-radius: 11px;
  border: 1px solid black;
  background-color: #F4F4F4;
}

.btn-primary:hover {
  background-color: #F4F4F4;
}

.select2-container .select2-search--inline .select2-search__field {
  margin-bottom: 3px;
}

.container-recipe-info {
  margin: 40px 40px 0 40px;
  background-color: #f2f2f2;
  position: sticky;


}
