.container-99 {
  // height: calc(100vh - 77px);
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#container-top {
margin: 0 auto;
align-self: center;
}

.recipe-text {
// position: absolute;
// display: flex;
// justify-content:flex-end;
// width: 307px;
// height: 94px;
// // left: 1301px;
// top: -7px;
// font-family: Arial, Helvetica, sans-serif;
// font-style: normal;
// font-weight: normal;
// font-size: 90px;
// line-height: 104%;
// color: rgba(232, 232, 237, 1);
// z-index: -1;

position: absolute;
width: 300px;
top: 8px;
right: 100px;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 90px;
line-height: 104%;
color: #e8e8ed;
}

.centerbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  margin: 40px 0 ;
}

#centerbar-recipe{
  align-items: center;
  justify-content: center;
  width: 500px;
  flex-grow: 1;
  margin: 40px 0 ;
}

.searchbar {
  width: 80%;
}


  .flex-container {
    height: 40vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    align-content: stretch;

  }

  .box-1 {
    flex: 1 0 auto;
    // border-right: 1px solid rgba(0, 0, 0, 0.4);
    // overflow: scroll;
  }


.bottom-image {
  width: 100%;
  // height: 40vh;
}


.left-part {
  border-top: 1px solid #c0bfbf;
}



.recipe-link {
  text-decoration: none;
  color: black;
}

.recipe-link:hover {
  color: black;
}

// .background-class {
//   background-color: $ancient-black;
//   display: flex;
//   justify-content: center;
//   height: 100%;
  // align-items: center;

  // img {
  //   margin: 50px 0;
  //   position: sticky;
  //   top: 50px;
  // }
// }

.alignment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;



  h5 {
    color: $ancient-blue;
    margin-left: 0.8rem;
    font-weight: 700;
    font-style: normal;
    font-size:  16px;
    line-height: 14px;

  }

  p {

    color: $gray;
    opacity: 0.8;
    margin-left: 1.5rem;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;


  }
}

.editing-seachbar {
  display: flex;
}

.select2-container {
  margin-left: auto;
  margin-right: auto;
}


.select2-container--default .select2-selection--multiple {
  border: 1px solid rgb(0, 0, 0);
  cursor: text;
  padding-right: 5px;
  /* position: relative; */
  width: 100%;
  margin-top: 15px;

}

.select2-search__field {
  line-height: 1;
}

.btn-primary {
  color: #fff;
  margin-top: 15px;
  border:none;
  background-color: #F4F4F4;
}



/* SEARCH FIELD ------------->
*/
.select2-selection.select2-selection--multiple.custom-class {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  background-color: #F4F4F4;
  font-family: $AG-normal;
}

.btn-primary:hover {
  background-color: #F4F4F4;
}

/*.select2-container .select2-search--inline .select2-search__field {
  margin-bottom: 3px;
}*/

.container-recipe-info {
  // margin: -10px 20px 10px 20px;
  background-color: #ffffff;
  position: sticky;
  max-height: calc(100vh - 72px);
  overflow: scroll;
  border-top: 1px solid #c0bfbf;

  // p {
  //   padding-left: 20px;
  // }

  // h1 {
  //   padding-top: 20px;
  // }

  // h3 {
  //   padding-left: 20px;
  // }
}

.recipe-container {
  padding: 0;

}

.recipe-prep {
  padding-left: 20px;
}

// .container-recipe-info .col-lg-12 {
//   padding-left: 20px;
// }

/*.container-recipe-info h3 {
  padding-left: 20px;
}*/

.select2-container .select2-selection--multiple .select2-selection__rendered {
  position: absolute;
  margin-top: 40px;
}

.select2-selection.select2-selection--multiple.custom-class {
  // width: 700px;
}

.no-results-notice {
  text-align: center;
}
