.recipe-link {
  text-decoration: none;
  color: black;
}

.recipe-link:hover {
  color: black;
}

.background-class {
  background-color: #221E1E;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    margin: 0 auto;
    resize: both;
      }
}

.alignment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;


  p {
    opacity: 0.6;
    
  }
}

.lali {
  height: 200px;
}
